@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, a, button, ul, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #FFFFFF;
    min-width: 320px;
    min-height: 100%;
    width: 100%;
    font-size: 21px;
    color: #29374E;
}

img {
    object-fit: contain;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.auth form {
    margin-top: 100px;
    margin-bottom: 25px;
}

.info form {
    margin-top: 50px;
}
.info form input {
    margin-left: auto;
}

fieldset {
    padding: 0 10px;
    background-color: #EFF9FF;
    //border: 5px solid #0962E8;
    border: 0;
    border-radius: 16px;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}

fieldset legend {
    margin: 0 auto;
    color: #29374E;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 35px;
    transition: .3s all;
}

fieldset legend span {
    color: #0962E8;
}

fieldset .button {
    margin-top: 5px;
    margin-bottom: 35px;
}

input {
    border-radius: 10px;
    font-size: 21px;
    padding: 10px 10px;
    text-align: center;
    transition: .3s all;
}

input[type=text], input[type=password] {
    outline: 0;
    border: 0;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0);
}
input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus {
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}

.button {
    background-color: #0962E8;
    border-radius: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    outline: 0;
    border: 0;
    padding: 13px 30px;
    cursor: pointer;

    transition: .2s all ease-out;
}

.button:hover {
    color: #0962E8;
    background-color: #EFF9FF;
    transition: .3s background-color ease-in, .1s color ease-in;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.error_handler {
    text-align: center;
}

.alert {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #0962E8;
    color: #EFF9FF;
    padding: 15px 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
}

body .info {
    display: none;
}
body[data-auth=true] .auth, body[data-auth=false] .info  {
    display: none;
}

body[data-auth=false] .auth, body[data-auth=true] .info  {
    display: block;
}

.avatar {
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    margin-right: 25px;
    border-radius: 100%;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}

.info_wrapper {
    background-color: #EFF9FF;
    padding: 0 10px;
    //border: 3px solid #0962E8;
    border: 0;
    border-radius: 16px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;

    display: flex;
    flex-flow: row nowrap;
    font-size: 21px;
    margin-top: 35px;
    gap: 10px 15px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
}

.info_text {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}
.info_text span {
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
    .avatar {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .info_wrapper { 
        flex-flow: column nowrap;
    }
    .info_text {
        text-align: center;
        gap: 10px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 0 35px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 425px) {
    fieldset legend {
        font-size: 32px;
    }
    .container {
        padding: 0 25px;
    }
    input[type=text], input[type=password] {
        width: 100%;
    }
    .button {
        justify-content: center;
    }
    .info_text {
        font-size: 17px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }
}

@media screen and (max-height: 600px) {
    .auth form {
        margin-top: 50px;
    }
    .info form {
        margin-top: 25px;
    }
    .info_wrapper {
        margin-top: 15px;
    }
}